* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d5d5d5;
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

.placeholder {
    height: 3rem;
    background-color: #fff;
}

.selectOrder {
    height: 2rem;
    border-bottom: 1px #bbbab5 solid;
    background-color: #fff;
}

.selectOrder ul {
    width: 100%;
    height: 1.9rem;
    list-style: none;
}

.select_li {
    float: left;
    width: 20%;
    text-align: center;
    line-height: 1.9rem;
}

.select_a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.orderList {
    width: 100%;
}

#selected_a {
    color: #f38200;
    border-bottom: 0.1rem #f38200 solid;
}

.goods {
    width: 100%;
    height: 13rem;
    background-color: #fff;
    margin-top: 5px;
    display: inline-block;
}

.goodsnumber_div {
    height: 2rem;
    border-bottom: 1px #bbbab5 solid;
}

.goodsnumber {
    line-height: 2rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    margin-left: 0.6rem;
    font-size: 0.9rem;
}

.goodsinfo {
    height: 8rem;
    border-bottom: 1px #bbbab5 solid;
    display: flex;
}

.goodspic {
    display: inline-block;
    width: 8rem;
    height: 8rem;

}

.goodspic img {
    margin: 0.5rem;
    width: 7rem;
    height: 7rem;
}

.goodsdetail {
    display: flex;
    height: 8rem;
    flex-grow: 1;
    flex-flow: column;
}

.goodstitle {
    margin-top: 0.5rem;
    height: 1.75rem;
}

.goodstitle_span {
    display: inline-block;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    vertical-align: middle;
}

.goodsmodel {
    height: 1.75rem;
}

.goodsmodel_span {
    color: #999;
    font-size: 0.8rem;
    line-height: 1.75rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    vertical-align: middle;
    word-break: break-all;
}

.goodsprice {
    height: 1.75rem;
}

.goodsprice_span {
    color: #f55e0b;
    line-height: 1.75rem;
}

.goodsnumber_span {
    font-size: 0.8rem;
    color: #999;
    line-height: 1.75rem;
    margin-right: 0.5rem;
    float: right;
}

.goodsservice {
    height: 1.75rem;
    margin-bottom: 0.5rem;
}

.roundbutton {
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 5.5rem;
    border: 1px #989898 solid;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin-right: 0.5rem;
    margin-top: 0.6rem;
    float: right;
    font-size: 0.8rem;
}

.servicebutton {
    margin-top: 0;
}

.evaluationbutton {
    color: #f38200;
    border-color: #f38200;
}

.customerbutton {
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}