.roundbutton {
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 5.5rem;
    border: 1px lightgray solid;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    background-color: #fff;
}