.topbar {
    height: 3rem;
    background-color: #fff;
    border-bottom: 1px solid darkgray;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.topbar_left {
    height: 60%;
    margin-top: 0.5rem;
    float: left;
    margin-left: 0.5rem;
}

.topbar_right {
    height: 60%;
    margin-top: 0.5rem;
    float: right;
    margin-right: 0.5rem;
}

.topbar_middle {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 3rem;

}