.hr {
    text-align: center;
    vertical-align: top;
}

.cell {
    display: inline-block;
    height: 1px;
    width: 30%;
    background-color: #b4b4b4;
}

.hr_title {
    color: #b4b4b4;
    display: inline-block;
    font-size: 0.3rem;
}